  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;500;600;700&display=swap"
    rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/style2.css">


    


<div id="layoutSidenav_content">
  <main>

      
    <label for="webcam" class="ps-3 pt-3 pb-3">USE WEBCAM:</label>
<br><button id="webcam" type="button" class="btn btn-outline-primary ms-3" onclick="useWebcam()">Start webcam</button><br />
<label class="p-3" for="fruitimg">SCAN ANIMAL:</label>
<div class="input-group px-3 pb-3 px-300" id="inputimg" >
    <input type="file" class="form-control" accept="image/*" id="fruitimg">
    <div><button class="btn btn-outline-primary" id="loadBtn">Scan!</button></div>
</div>
<div id="webcam-container" class="px-3"></div>
<div id="uploadedImage" class="px-3"> </div>
<div id="label-container" class="px-3 pt-3"></div>  



<div class="block ">

</div>

</main>









<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.3.1/dist/tf.min.js"></script>
<script
    src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@0.8/dist/teachablemachine-image.min.js">
</script>

    <script src=https://unpkg.com/parse/dist/parse.min.js></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/script2.js"></script>
